.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ico-loading {
    fill: var(--red);
    width: 100px;
    height: 100px;

    animation: loading 1.2s infinite linear;
}

@keyframes loading {
    0% {
        transform: scale(0.95);
    }
    20% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(0.85);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.95);
    }
    80% {
        transform: scale(0.9);
    }
    
}